.list
{
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
}
ul {
    list-style-type: none; /* Remove bullets */
    
  }
.navba
{
    background-color: #2c2872;
}
img
{
    height: 60px;
    width: 100px;
    
}
.img
{
   
}
.lis
{
    text-align: center;
    color: white;
}
.list .lis {
    flex: 1; /* Allow flex items to take maximum width */
    display: flex;
    justify-content: center; /* Align text horizontally */
    align-items: center; /* Align text vertically */
}
.list .lis:first-child {
    flex: 0 0 auto; /* Allow the first flex item to take only required width */
}
