@import url(nav.css);
@import url(footer.css);

*{
  box-sizing: border-box;
}
:root {
    --main-color: #ffffff;
    --blue-theme-color1: #f8f8ff;
    --nav-height:100px;
    margin: 0;
    /* Define a variable named --main-color and set its value to red */
}


body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.background-image {
  position: fixed;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(to top,var(--main-color) 40%, #65f7ff 50%, var(--main-color) 100%);
  animation: slideFromTop 6s ease-in-out infinite; 
  z-index: -999;
}

.background-tiles {
  top: 0;
  left: 0;
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed; 
  grid-template-columns: repeat(12, 1fr); /* Adjust the number of columns as needed */
  grid-template-rows: repeat(5, 1fr); 
  z-index: -998;
}
.background-tiles span
{
  margin: 0.15vh 0.15vw;
  background: linear-gradient(var(--main-color), #f5ffff);
  /* background: linear-gradient(var(--main-color) 30% , #0c0c0c 100%); */
  background-size: cover;
}

::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    background-clip: content-box;
    background-image: linear-gradient(180deg, #62009f 0%, #009483 99%);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background-image: linear-gradient(180deg, #5a456796 0%, #44625d95 99%);
  }


  @keyframes slideFromTop {
    from {
      top: -50%; /* Image starts off the top */
    }
    to {
      top: 100%; /* Image moves to the top */
    }
  }