@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Varela+Round&display=swap');
.header{
    position: relative;
    background-size: cover;
    background-position: center;
    height: 60%;
    width: 100%;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: fit-content;  
    margin: 0 4%;
}

.pimg{
    position: relative;

}

.sir_name{
    background-color:#024baac0 ;
    min-height: 20vh;
    
    height:fit-content;
    width:43vw;
    margin: 0 5%;
    border-radius:10px;
    transition-duration: 0.3s;
    transition-timing-function:ease-in-out;
}
.sir_name:hover{
    background-color:#024baad7 ;
    width:44vw;
    
}


.header h1{
    margin-left:20px;
    color:white;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header h2{
    margin-left:25px;
    margin-top:-20px;
    color:white;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.details{
    background-color: rgb(255, 255, 255);
}
.profile{
   height:240px;
   width:240px;
    border-radius: 50%;
    border-style: solid;
    border-width: 6px;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



.container{
    border-style: light;
    border-width: 2px;
    border-color:black;
    height: fit-content;
    width: 80%;
    margin: 2vh auto;
    padding: 0.1vh 2%;
    transition-duration: 0.3s;
    transition-timing-function:ease-in-out;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container:hover{
    padding-top:0.2vh;
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
}

.container h2{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ff4805;
}
.container h3 {
    color: black;
    font-family: "Varela Round", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 5%;
}

.container ul  {
    list-style-type: none; /* No default bullets */
    padding-left: 0; /* Remove padding */
    margin-left: 5%;
}
.container ul  li {
    font-family: monospace;
    font-size: 1.2em;
    line-height: 2em;
    padding-left: 1em; /* Space for the custom bullet */
    text-indent: -1em; /* Align text with container */
}
.container ul  li::before {
    content: '• '; /* Custom bullet */
    color: black; /* Bullet color */
    padding-right: 0.5em; /* Space between bullet and text */
}
.container ul li:nth-child(even){
    background-color: rgba(229, 238, 243, 0.845);
}