
footer{
    position: relative;
    
}

.main{
    
    background-color: rgb(2, 75, 170);
    float : bottom;
    display:flex;
   height: 280px;
    
}

.left{
  
    
    padding-right: 20px;
    padding-left: 5px;
}
.v{
    margin-top: 20px;
    margin-bottom: 20px;
    border-right-color:rgba(255, 255, 255, 0.767) ;
    border-right-width:1px;
    border-right-style:solid;
    height:235px;
}
.right{
    
    background-color: rgb(2, 75, 170);
    float : right;
    display: flex;
    flex-direction: column;
  
    margin-left: 57px;
    
}


.X{
    
    background-color: rgb(2, 75, 170);
    width:26px;
    align-items: left;
    margin-bottom: 20px;
    margin-left: 200px;
   height:40px;
}

.X:hover{
    width:30px;
    transition-duration: 0.3s;
    transition-timing-function:ease-in;

}
.insta:hover{
    width:30px;
    transition-duration: 0.3s;
    transition-timing-function:ease-in;
}
.gmail:hover{
    width:30px;
    transition-duration: 0.3s;
    transition-timing-function:ease-in;
}
.linkedin:hover{
    width:30px;
    transition-duration: 0.3s;
    transition-timing-function:ease-in;
}
.X:active{
   opacity: 0.2;
}
.insta:active{
    opacity: 0.2;
}
.gmail:active{
    opacity: 0.2;
    
}
.linkedin:active{
    opacity: 0.2;
   
}
.insta{
    
    background-color: rgb(2, 75, 170);
    height:40px;
    width:26px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.linkedin{
    height:40px;
    width:26px;
    background-color: rgb(2, 75, 170);
    margin-bottom: 20px;
    margin-left: 20px;
}
.gmail{
    width:26px;
    height:40px;
    background-color: rgb(2, 75, 170);
    margin-bottom: 20px;
 
    margin-left: 20px;
}


.M{
    margin-right:50px;
    margin-bottom:20px;
}
.map{
   border-radius: 20px;
   margin-top:40px;
   
   margin-left:90px;  
   margin-right:10px;
  
}
.cu{
    
    width:10px;
}
.b{
    border-bottom-color:white ;
    margin-top:2px;
    border-bottom-width:1px;
    border-bottom-style:solid;
    margin-bottom:20px;
    margin-left:192px;
    width:200px
}
.contact_us{
    font-family : Bungee Hairline;
   color: white; 
   font-weight:bold;
   font-size: 20px;
   text-align: center;
   padding-top:140px;
     padding-left:190px;
     margin-bottom:-2px;

}



.college_name{
   font-family : Bungee Hairline;
   color: white;
   font-weight:bold;
   font-size: 20px;
   display: inline-block;
}
.college_address{
font-size: 13px;
font-weight:lighter;
   color: white;
   
}

/* .college_name{


} */