.ctr-0 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("https://i1.rgstatic.net/ii/profile.image/559063169593344-1510302454956_Q512/Yogesh-Nimdeo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: var(--nav-height);
    margin-top: var(--nav-height);
}

.ctr-0-0 {
    height: 100%;
    width: 35%;
    /* margin: 0 0 0 5vw; */
   
    border-right-color: white;
    border-bottom-right-radius: 3vh;
    background-color:rgb(2, 75, 170,0.8);

    
}

.ctr-0-0 h1 {
    padding-top: 5vh;
    transform: translateX(40%);
}

.intro{
    margin-top:100px;
    margin-left:-100px;
    
color:white;
}

.body{
    color:white;
    margin-left:30px;
}
.line1{
    color:white;
    margin-left:30px;
}
.line2{
    color:white;
    margin-left:30px;
}
.stuff1{
    color:white;
    margin-left:30px;
}
.stuff2{
    color:white;
    margin-left:30px;
}


.ctr-1 {
    height: 50vh;
    width: 70%;
    background-color: blanchedalmond;
    margin: 0 auto;
    padding: 20px;
    color: #111111;
    max-width: 90%;
    font-size: 1.2em;
    line-height: 1.6em;
    box-sizing: border-box;
    border-radius: 1em;
    transform: translateY(-100px);
}