.img{
    margin-top:100px;
    background-image: url(https://i1.rgstatic.net/ii/profile.image/559063169593344-1510302454956_Q512/Yogesh-Nimdeo.jpg);
    
}

.bluebox{
    background-color: rgb(2, 75, 170,0.89) ;
    height:800px;
    width:480px;
    transition-duration: 0.45s;
    transition-timing-function:ease-in-out;
   
}
.bluebox:hover{
    background-color: rgb(2, 75, 170,0.98) ;
    width:500px;

   
}
.bond{
   margin-bottom:-165px;
   margin-left:20px;
   margin-top:10px;
   transition-duration: 0.2s;
   transition-timing-function:ease-in-out;
}
.bond:hover{
  width:70px;
 
}

.nname{
    padding-top:130px;
    margin-left:30px;
    font-family:"Teko",sans-serif;
    font-size: 45px;;
color:white;

}
.email{
    color:white;
    margin-left:30px;
    margin-bottom:-20px;
    font-family:"Teko",sans-serif;

}

.body{
    color:white;
    margin-left:30px;
    font-family:"Satisfy";
}
.line1{
    border-color:white;
    border-width: thin;
    border-style:solid;
    margin-left:30px;
    margin-right:20px;
  
}
.line2{
    border-color:white;
    border-width: thin;
    border-style:solid;
    margin-left:30px;
    margin-right:20px;
    
}
.stuff1{
    color:white;
    margin-left:30px;
    font-family:"Roboto";
}
.stuff2{
    color:white;
    margin-left:30px;
    font-family:"Roboto";
}


.ctr-1 {
    height: 50vh;
    width: 70%;
    background:#FFFEF2;
    margin: 0 auto;
    padding: 20px;
    color: #111111;
    max-width: 90%;
    font-size: 1.2em;
    line-height: 1.6em;
    box-sizing: border-box;
    
   
    transform: translateY(-100px);
}

.Research{
    font-family:"Roboto";
}
.quote{
    font-family:"Teko";
    border-bottom-color: black;
    border-top-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-left-color:rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 2px;
    padding-bottom:20px;
}